@page "/"
@using EGON.Blazor.Models
@using EGON.Blazor.Services
@using EGON.Blazor.Shared
@inject StorageService StorageService

<AuthorizeView>
    <Authorized>
        <h3>Upcoming Events</h3>

        @if(_upcomingEvents is null || !_upcomingEvents.Any())
        {
            <p>There are no upcoming events.</p>
        }
        else
        {
            <EventTable Events="@_upcomingEvents" />
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not authenticated. Redirecting...</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<EchelonEvent> _upcomingEvents;

    protected override async Task OnInitializedAsync()
    {
        // Load your events; this could be asynchronous.
        _upcomingEvents = StorageService.GetUpcomingEvent()?.ToList() ?? new List<EchelonEvent>();

        await base.OnInitializedAsync();
    }


}
