@page
@model IndexModel
@using EGON.WebPortal.Models
@using EGON.WebPortal.Pages
@using System.Security.Claims

<div class="container mt-4">
    <h2 class="text-primary">E.G.O.N. Administrative Portal</h2>
</div>
@if (User.Identity?.IsAuthenticated ?? false)
{
    <div>
        @{
            var userId = User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
            var avatar = User.FindFirst("urn:discord:avatar")?.Value;
        }
        @if (!string.IsNullOrEmpty(userId) && !string.IsNullOrEmpty(avatar))
        {
            <img src="@($"https://cdn.discordapp.com/avatars/{userId}/{avatar}.png")" width="40" height="40" style="border-radius: 50%;" />

        }

        <a href="/Logout">Logout</a>

    </div>
}
else
{
    <a href="/Login">Login with Discord</a>
}


